[Unit]
Description=LinkSnip API
After=network.target docker.service

[Service]
Type=simple
User=andre
WorkingDirectory=/home/andre/projects/link-snip
EnvironmentFile=/home/andre/projects/link-snip/.env
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
